<!doctype html>
<html>

<head>
<title>DHT Search</title>
<meta charset='utf-8'>
<style>
body { background-color:black; color:grey; font-family:"Monospace"; font-size:14px;}
</style>
</head>

<body>
<div style='text-align:center'>
<p>
<form method="GET" action="/dhtsearch/search">
<input style='background-color:lightgray' type='text' name="q" size='40'>
<button style='background-color:lightgray' type="submit">SEARCH</button>
</form>
</p>
<p>
<a href='/dhtsearch/top24'>top24</a>
<a href='/dhtsearch/latest'>latest</a>
<a href='/dhtsearch/stats'>stats</a>
</p>
</div>
</body>

</html>

