<!doctype html>
<html>

<head>
<title>DHT Search</title>
<meta charset='utf-8'>
<style>
body { background-color:black; color:grey; font-family:"Monospace"; font-size:14px;}
.cell { padding:5px }
</style>
</head>

<body>
<div style='text-align:center'>
<p>
<form method="GET" action="/dhtsearch/search">
<input style='background-color:lightgray' type='text' name='q' size='40'>
<button style='background-color:lightgray' type="submit">SEARCH</button>
</form>
</p>
<p>
{% for i in range %}
{% if qstring.page == i %}{{ i }}
{% else %}<a href='/dhtsearch/peers?q={{ qstring.query }}&p={{ i }}&o={{ qstring.order }}'>{{ i }}</a>
{% endif %}
{% endfor %}
<a href='/dhtsearch/top24'>top24</a>
<a href='/dhtsearch/latest'>latest</a>
<a href='/dhtsearch/stats'>stats</a>
</p>
</div>
<table style='width:60%; margin-left:auto; margin-right:auto; border-collapse:collapse' border='1'>
<tr>
{% if qstring.order == 0 %}<th class='cell'>HASH</th>
{% else %}<th class='cell'><a href='/dhtsearch/peers?q={{ qstring.query}}&p={{ qstring.page }}&o=0'>HASH</a></th>{% endif %}
{% if qstring.order == 1 %}<th class='cell'>PEER</th>
{% else %}<th class='cell'><a href='/dhtsearch/peers?q={{ qstring.query}}&p={{ qstring.page }}&o=1'>PEER</a></th>{% endif %}
{% if qstring.order == 2 %}<th class='cell'>COUNTRY</th>
{% else %}<th class='cell'><a href='/dhtsearch/peers?q={{ qstring.query }}&p={{ qstring.page }}&o=2'>COUNTRY</a></th>{% endif %}
{% if qstring.order == 3 %}<th class='cell'>NAME</th>
{% else %}<th class='cell'><a href='/dhtsearch/peers?q={{ qstring.query }}&p={{ qstring.page }}&o=3'>NAME</a></th>{% endif %}
</tr>
{% for p in peers %}
<tr>
<td class='cell'><a href='/dhtsearch/search?q={{ p.1 }}'>{{ p.0 }}</a></td>
<td class='cell'>{{ p.1 }}</td>
<td class='cell'>{{ p.2 }}</td>
<td class='cell'>{{ p.3 }}</td>
</tr>
{% endfor %}
</table>
</body>

</html>

